@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --html-height: 100vh;
    
    --open-sans: "Open Sans", sans-serif;
    --playfair-display: "Playfair Display", serif;
    
    --neutral-black: #1D1A1A;
    --color-white: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--open-sans);
}


html {
    background: linear-gradient(to top, #F2D8E2, #FFF);
    height: var(--html-height);
}

/* === HEADER === */
.header__nav {
    margin-bottom: 2rem;
    padding: 1rem;
    
    border: none;
    background-color: var(--neutral-black);
    color: #fff;
    
    text-align: center;
}

.header__nav h1 {
    font-family: var(--playfair-display);
    font-weight: 700;
}


/* === BODY === */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.opening_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.error_message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_message h3 {
    color: red;
    font-size: 1.75rem;
}

table {
    border: 10px solid var(--neutral-black);
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
}
