{% extends 'base.html' %}

{% block content %}

<p>I am thinking of a number between 1 and 100...</p>

<div class="mt-3 p-4 bg-light border rounded-4">
    {% if 'guess' in session %}
        <!-- <p>Your Guess: {{ session['guess'] }} | Correct Guess: {{ session['num_to_guess'] }}</p> -->
        
        {% if session['guess'] == session['num_to_guess'] %}
            <div class="card bg-success-subtle w-75 p-2 mx-auto">
                <h2 class="fs-3">You got the number!</h2>
                <a href="/reset_game" class="btn btn-dark mx-auto w-50">Play Again</a>
            </div>
            
        {% else %}
            <form action="/submit_guess" method="POST" class="row g-3 form-group">
                <label for="guess" class="fs-4 fw-semibold">Take a Guess!</label>
                {% if session['guess'] < session['num_to_guess'] %}
                    <div class="card bg-danger-subtle w-75 p-2 mx-auto">
                        <h2 class="fs-3">Too low!</h2>
                    </div>
                {% else %}
                    <div class="card bg-danger-subtle w-75 p-2 mx-auto">
                        <h2 class="fs-3">Too high!</h2>
                    </div>
                {% endif %}
                <div class="d-flex justify-content-center gap-3">
                    <div class="col-auto">
                        <input type="number" name="guess" id="guess" class="form-control">
                    </div>
                    <div class="col-auto">
                        <input type="submit" value="Guess" class="btn btn-primary">
                    </div>
                </div>
            </form>
        {% endif %}
        
    {% else %}
        <form action="/submit_guess" method="POST" class="row g-3 form-group">
            <label for="guess" class="fs-4 fw-semibold">Take a Guess!</label>
            <div class="d-flex justify-content-center gap-3">
                <div class="col-auto">
                    <input type="number" name="guess" id="guess" class="form-control">
                </div>
                <div class="col-auto">
                    <input type="submit" value="Guess" class="btn btn-primary">
                </div>
            </div>
        </form>
        
    {% endif %}
    
    <p class="fw-semibold mt-3 mb-0">
        Attempt No. {{ guesses }}
    </p>
</div>

{% endblock %}