{% extends 'base.html' %}

{% block content %}
<div class="bg-light rounded p-3 mt-3 col-11 col-md-8 col-lg-6 mx-auto">
    
    {% if error_message %}
        <div class="alert alert-danger">
            <p class="mb-0">{{ error_message }}</p>
        </div>
    {% endif %}
    
    <form action="/submit" method="post">
        
        <div class="mb-3">
            <label for="name" class="form-label fw-semibold">
                <span class="text-danger">*</span> Your Name:
            </label>
            <input type="text" name="name" class="form-control">
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label fw-semibold">
                <span class="text-danger">*</span> Dojo Location:
            </label>
            <select name="location" class="form-select">
                <option value="">--SELECT ONE--</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="Online">Online</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="fav_language" class="form-label fw-semibold">
                <span class="text-danger">*</span> Favourite Language:
            </label>
            <select name="fav_language" class="form-select">
                <option value="">--SELECT ONE--</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="Python">Python</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Java">Java</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="experience" class="form-label fw-semibold">
                <span class="text-danger">*</span> Coding Experience:
            </label>
            
            <div class="d-flex align-items-center justify-content-start gap-3">
                <div>
                    <input type="radio" name="experience" value="No Experience" class="form-check-input">
                    <label for="experience" class="form-check-label">No Experience</label>
                </div>
                <div>
                    <input type="radio" name="experience" value="Beginner" class="form-check-input">
                    <label for="experience" class="form-check-label">Beginner</label>
                </div>
                <div>
                    <input type="radio" name="experience" value="Intermediate" class="form-check-input">
                    <label for="experience" class="form-check-label">Intermediate</label>
                </div>
                <div>
                    <input type="radio" name="experience" value="Advanced" class="form-check-input">
                    <label for="experience" class="form-check-label">Advanced</label>
                </div>
            </div>
        </div>
        
        <!-- TODO: MAKE CHECKBOX BUTTONS -->
        <div class="mb-3">
            <label for="spoken_languages" class="form-label fw-semibold">
                <span class="text-danger">*</span> Spoken Languages:
            </label>
            
            <div class="d-flex flex-wrap gap-3">
                
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="简体中文" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">简体中文</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="繁體中文" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">繁體中文</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Deutsch" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Deutsch</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="English" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">English</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Español" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Español</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Français" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Français</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Italiano" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Italiano</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="日本語" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">日本語</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="한국어" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">한국어</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Português" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Português</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Русский" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Русский</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="ภาษาไทย" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">ภาษาไทย</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Türkçe" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Türkçe</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="spoken_languages" value="Tiếng Việt" class="form-check-input">
                    <label for="spoken_languages" class="form-check-label">Tiếng Việt</label>
                </div>
                
            </div>
        </div>
        
        <div class="mb-3">
            <label for="comments" class="form-label fw-semibold">Comment(Optional):</label>
            <textarea name="comments" cols="30" rows="5" class="form-control"></textarea>
        </div>
        
        <div class="d-flex justify-content-end">
            <input type="submit" value="Submit" class="btn btn-dark">
        </div>
        
    </form>
</div>

{% endblock %}